* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #573946;
    background: #f5a6c2;
}

/*NAVBAR*/
nav {
    padding: 18px 8%;
    background: #fff7fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    color: #573946;
}

nav h2 span {
    color: #c34d7c;
}

nav a {
    color: #573946;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover {
    color: #c34d7c;
}

/*COVER*/
.cover {
    padding: 55px 8%;
}

.cover-paper {
    max-width: 1000px;
    min-height: 450px;
    margin: auto;
    padding: 45px;
    background: #fff7fa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    position: relative;
    transform: rotate(-1deg);
    box-shadow: 8px 8px #df7fa4;
}

.cover-left {
    max-width: 550px;
}

.mini-title {
    color: #c34d7c;
    letter-spacing: 2px;
    font-size: 13px;
}

.cover h1 {
    color: #b83f70;
    font: italic 65px Georgia;
    margin: 5px 0;
}

.cover-left > p {
    line-height: 1.6;
    margin: 15px 0;
}

.name {
    display: inline-block;
    padding: 8px 15px;
    background: #f5b5cc;
    margin-bottom: 10px;
}

.button,
form button {
    display: inline-block;
    background: #bd4c7b;
    color: white;
    border: none;
    padding: 11px 20px;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
}

.button:hover,
form button:hover {
    background: #a83c6c;
}

/*FOTO COVER*/
.cover-photo {
    width: 230px;
    padding: 10px 10px 25px;
    background: white;
    transform: rotate(5deg);
    box-shadow: 5px 8px 12px #d88da9;
}

.cover-photo img {
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.cover-photo span {
    display: block;
    text-align: center;
    color: #b83f70;
    font-family: cursive;
    margin-top: 5px;
}

/* Dekorasi cover */
.sticker,
.heart {
    position: absolute;
    color: #c73572;
    font-size: 35px;
}

.sticker {
    right: 25px;
    top: 20px;
}

.heart {
    left: 20px;
    bottom: 15px;
}

/*EXPERIENCE*/

#experience {
    padding: 50px 8%;
}

.paper {
    max-width: 1000px;
    margin: auto;
    padding: 40px;
    background: #fff7fa;
    box-shadow: 8px 8px #df7fa4;
}

.heading {
    text-align: center;
    margin-bottom: 25px;
}

.heading h2 {
    color: #b83f70;
    font: italic 38px Georgia;
}

.activity-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
}

.activity {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px;
    background: #ffe2ec;
    border: 2px dashed #e59bb7;
    cursor: pointer;
}

.activity:hover {
    transform: rotate(-2deg);
}

.activity img {
    width: 110px;
    height: 90px;
    object-fit: cover;
    border: 4px solid white;
}

.activity h3 {
    color: #a83c6c;
    margin: 5px 0;
}

.activity small {
    color: #c34878;
}

/*POPUP*/
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: #573946aa;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.modal-content {
    width: 380px;
    padding: 25px;
    background: #fff7fa;
    text-align: center;
    position: relative;
    box-shadow: 8px 8px #df7fa4;
}

.modal-content img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.modal-content h2 {
    color: #b83f70;
    margin: 12px;
}

.close {
    position: absolute;
    right: 10px;
    top: 3px;
    font-size: 28px;
    cursor: pointer;
}

/* ABOUT */
.page {
    padding: 50px 8%;
}

.about-paper {
    max-width: 1000px;
}

.about-text h1,
.contact-paper h1 {
    color: #b83f70;
    font: italic 38px Georgia;
    margin: 5px 0 15px;
}

.about-text p {
    margin: 10px 0;
    line-height: 1.5;
}

.info p {
    padding: 6px;
    border-bottom: 1px dashed #e2a4bb;
}

.info b {
    display: inline-block;
    width: 90px;
}

/*CONTACT*/
.contact-paper {
    max-width: 650px;
    text-align: center;
}

.contact-paper > p {
    line-height: 1.5;
}

form {
    margin-top: 20px;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #e2a4bb;
    border-radius: 10px;
    font-family: Arial;
}

textarea {
    height: 110px;
    resize: none;
}

/*RESPONSIVE*/
@media (max-width: 700px) {

    nav {
        flex-direction: column;
        text-align: center;
    }

    nav div {
        margin-top: 10px;
    }

    .cover-paper {
        flex-direction: column;
        text-align: center;
        padding: 30px 20px;
    }

    .cover h1 {
        font-size: 50px;
    }

    .activity-list {
        grid-template-columns: 1fr;
    }

    .paper {
        padding: 25px 20px;
    }

    .modal-content {
        width: 100%;
        max-width: 380px;
    }
}